.loading {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  svg {
    display: block;
    color: var(--color-primary);
    font-size: 5.6rem;
    animation: Loading 2s infinite linear;
  }
}
@keyframes Loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
