@import "../../../../styles/_mixins/mixins";
.search-box {
  position: relative;
  form {
    width: 100%;
  }
}
.search {
  input {
    display: block;
    padding: 1.2rem 9.6rem 1.2rem 1.2rem;
    border: none;
    background-color: var(--color-white);
    border-radius: 8px;
    @include respond(tab-land) {
      width: 100%;
    }
  }
  svg {
    display: block;
    margin-left: -3rem;
  }
}
.search-list {
  position: absolute;
  border-radius: var(--border-radius-5px);
  padding: 1rem 1.6rem;
  background-color: var(--color-darker-white);
  width: 115%;
  z-index: 10;
  top: 88%;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);

  img {
    width: 25%;
    @include respond(tab-land) {
      width: 8%;
    }
  }
  li:not(:last-child),
  li:not(:first-child) {
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);
  }
  button {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: flex-start;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
