@import "../../../styles/_mixins/mixins";
.header {
  position: relative;
}
.slider {
  position: relative;
  height: 20rem;
  cursor: pointer;
  overflow: hidden;
  width: 80rem;
  @include respond(tab-land) {
    height: 100%;
    width: 100%;
    min-height: 28rem;

    & button:has(svg) {
      display: none;
    }
  }
  @include respond(phone) {
    min-height: 15rem;
    img {
      height: 15rem !important;
    }
  }

  &:hover .btn {
    box-shadow: 1.2rem 0 1.2rem 0.8rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
  }

  &:hover .btn svg {
    color: rgba(0, 0, 0, 1);
  }
  &:hover .dot {
    background-color: #ccc;
  }
}
