body {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: var(--normal-font-size);
  color: var(--color-grey-text);
}
.link {
  color: var(--color-tertiary);
  font-size: var(--normal-font-size);
}
.title {
  font-size: 1.8rem;
}
