@import "../../../styles/_mixins/mixins";
.order-history__navigation {
  padding: 1.2rem 3.6rem 1.2rem 0.8rem;
  border-radius: 0 100px 100px 0;
  @include respond(tab-land) {
    display: none;
  }
  &.active {
    background-color: #e8f0ff;
    a {
      color: var(--color-tertiary);
    }
  }
  a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: var(--color-grey-text);
  }
  cursor: pointer;
  &:first-child {
    margin-bottom: 1.2rem;
  }
}
