.btn-buy {
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-5px);
  color: var(--color-white);
  text-transform: uppercase;
  padding: 1.6rem;
  font-weight: 600;
}
